# Controle de gastos

## Tratamento dos dados

In [3]:
import duckdb

def display_excel_with_duckdb(file_path: str):
    """
    Carrega um arquivo Excel e o consulta usando uma conexão DuckDB persistente.

    Args:
        file_path (str): O caminho completo para o arquivo Excel.
    """
    try:
        # 1. Carregar o arquivo Excel para um DataFrame do Pandas
        display(f"Carregando o arquivo Excel de: {file_path}")
        df = pd.read_excel(file_path)
        display(f"Arquivo carregado com sucesso. Dimensões: {df.shape[0]} linhas, {df.shape[1]} colunas.")

        # 2. Criar uma conexão explícita com o DuckDB (em memória)
        # O 'with' garante que a conexão seja fechada corretamente no final
        with duckdb.connect(database=':memory:') as con:
            # 3. Registrar o DataFrame como uma tabela virtual na conexão DuckDB.
            # É uma boa prática dar um nome explícito à tabela.
            con.register('extrato_df', df)

            # 4. Executar as consultas usando a conexão
            display("\nExibindo as primeiras 5 linhas do dataset usando DuckDB:")
            result = con.execute("SELECT * FROM extrato_df LIMIT 5").fetchdf()
            display(result)

            display("\nExibindo informações básicas do dataset usando DuckDB:")
            # Agora esta consulta funcionará, pois 'extrato_df' está registrada na conexão 'con'
            result_info = con.execute("PRAGMA table_info('extrato_df');").fetchdf()
            display(result_info)

    except FileNotFoundError:
        display(f"Erro: O arquivo não foi encontrado no caminho especificado: {file_path}")
    except Exception as e:
        display(f"Ocorreu um erro ao processar o arquivo: {e}")

if __name__ == "__main__":
    excel_file_path = r"E:\Github\finance-manager\financas\datasets\Extrato_2024-01-01_a_2024-12-08_LIMPO.xlsx"
    display_excel_with_duckdb(excel_file_path)

'Carregando o arquivo Excel de: E:\\Github\\finance-manager\\financas\\datasets\\Extrato_2024-01-01_a_2024-12-08_LIMPO.xlsx'

'Arquivo carregado com sucesso. Dimensões: 277 linhas, 5 colunas.'

'\nExibindo as primeiras 5 linhas do dataset usando DuckDB:'

,Data e hora,Categoria,Transação,Descrição,Valor
0,01/04/2024 11:04,Transferência,Pix recebido,Micaele Barbosa Leal,350.0
1,01/07/2024 11:24,Transferência,Pix recebido,Gislaine Miceno Pereira,12.0
2,01/08/2024 22:24,Transferência,Pix recebido,Gislaine Miceno Pereira,13.0
3,01/09/2024 08:12,Transferência,Pix recebido,Gislaine Miceno Pereira,13.0
4,01/10/2024 10:29,Investimentos,Transferência recebida,Gustavo Ferreira Lima,40.0

'\nExibindo informações básicas do dataset usando DuckDB:'

   cid         name     type  notnull dflt_value     pk
0    0  Data e hora  VARCHAR    False       None  False
1    1    Categoria  VARCHAR    False       None  False
2    2    Transação  VARCHAR    False       None  False
3    3    Descrição  VARCHAR    False       None  False
4    4        Valor   DOUBLE    False       None  False